.editor-container{
    width:"100%"
}
.editor-container .first-col .first-col-head{
 /*width: 522px;*/
  height: 71px;
  background-color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  padding-left:10px;
  padding-top:0.1px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  color: #6b6969;
}
.editor-container .template-editor {
  width: 233px;
  height: 32px;
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  color: #6b6969;
}
.editor-container .first-col .panel{
  border-radius:none;
  border: none;
  background-color: #f8f8f8;
  margin-top: 0px;
}
.editor-container .title{
  width: 233px;
  height: 23px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #6b6969;
}
.editor-container .dropdown {
  /*width: 607px;*/
  height: 46.5px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d0d7dd;
}
.editor-container .subject-editor {
  /*width: 607px;*/
  height: 46.5px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d0d7dd;
}

.editor-container .notice {
  width: 233px;
  height: 15px;
  opacity: 0.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #6b6969;
  font-style: italic;
  margin-top: 11px;
}
.editor-style{
  height: 287px;
  overflow:'hidden';
}