.template-container{
    background-color: "#ededed";
    width:100%;
}

.template-container .container{
  margin-top:70px; 
}
.template-container .container .first-col{
 /*width: 522px;*/
  height: 71px;
  background-color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  padding-left:10px;
  padding-top:0.1px;
}
.template-container .main-panel{
  background-color: #f8f8f8;
  margin-top: 0px;
}
.template-container .main-panel .panel-list{
  margin:15px;
  border:1px solid #ededed;
  background-color:#fff;
  border-radius:5px;
  padding:20px;
}
.template-container .panel-list button{
  background-color:#8dc73f;
  color: #fff;
  width: 112px;
  height: 31px;
  
}
.template-container .template-heading{
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-left: 14px;
  border-radius:10px;
  color: #2b345b;
  margin-bottom:-35px
  

}
.template-container .template-button{
 width: 115px;
  height: 40.3px;
  border-radius: 5px;
  background-color: #8dc73f;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.template-container .main-panel{
  border-radius:none;
  border: none
}
.template-container .container .first-col .panel-heading{
    
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  color: #6b6969;
}
.template-container .list-value{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
  font-weight: 600;
  color: #6b6969;
}

@media only screen and (max-width: 1336px) {
    .Grid2 {
        width:40%
    }
}
@media only screen and (max-width: 1336px) {
    .Grid1 {
        width:40%
    }
}
@media only screen and (max-width: 1000px) {
    .Grid1 {
        width:100%
    }
}